/* carousal.css */

/* CSS for large devices */
@media only screen and (min-width: 992px) {
    .caption-responsive {
      top: 15%; /* Adjust top position as needed */
    }
    .carousel-caption h1 {
      font-size: 24px; /* Adjust font size of h1 as needed */
    }
    .carousel-caption h2 {
      font-size: 20px; /* Adjust font size of h2 as needed */
    }
  }
  
  /* CSS for medium devices */
  @media only screen and (max-width: 991px) {
    .caption-responsive {
      top: 15%; /* Adjust top position as needed */
    }
    .carousel-caption h1 {
      font-size: 20px; /* Adjust font size of h1 as needed */
    }
    .carousel-caption h2 {
      font-size: 16px; /* Adjust font size of h2 as needed */
    }
  }
  
  /* CSS for small devices */
  @media only screen and (max-width: 768px) {
    .caption-responsive {
      top: 15%; /* Adjust top position as needed */
    }
    .carousel-caption h1 {
      font-size: 16px; /* Adjust font size of h1 as needed */
    }
    .carousel-caption h2 {
      font-size: 14px; /* Adjust font size of h2 as needed */
    }
  }