

.card img{
    transition: ease ;
}
.card:hover img{
    scale: 1.05;
    transition: ease-in-out;
}

.history-number {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin-top: -40px;
}


  